{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: rgb(134, 179, 218);">
                <form action="{{url_for('pitch')}}" method="post">
                    <div class="mb-3"><br>
                       <label for="category">category</label>
                        <select class="form-select" aria-label="Default select example">
                            
                            <option name="category" value="pickup lines">pickup lines</option>
                            <option name="category" value="interview pitch">interview pitch</option>
                            <option  name="category" value="product pitch">product pitch</option>
                            <option name="category" value="promotion pitch">promotion pitch</option>
                          </select>   
                    </div><br>
                    <div class="form-group">
                        <label for="sender">Username</label>
                        <input type="text" class="form-control" id="sender" name="sender">
                      </div>
                      <div class="mb-3">
                        <label for="pitch" class="form-label">enter a 1 minute (450 characters) pitch here</label>
                        <textarea class="form-control" id="pitch" name="pitch" rows="5" cols="50" maxlength="450"></textarea>
                      </div><br>
                      <button type="submit">submit</button><br>
                </form><br>
               
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% endblock %}